.about-container{
    padding: 200px 60px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    gap: 20px;
    flex-direction:column;
    min-height: 50vh;
    color:black;
    background-color: #EEA47FFF ;
    
    
}
.about-p{
    font-size: 1.25em;
    line-height: 2em;
    text-align:center;
}
.about-title{
    padding-bottom: 0;
}
.technologies{
    display:flex;
    padding-top: 30px;
    gap: 50px;
    list-style: none;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;

}
.technologies > li {
    display: inline-block;
    text-align: center;
    padding: 20px;
    border: 2px #00539CFF solid;
    width:min-content;
    height:min-content;
    border-radius: 30px;
}