.card{
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 10px 10px grey;
    display:flex;
    flex-direction: column;
    
    min-width: 200px;
    max-width: 300px;
    max-height: 500px;
    align-items: center;
    /* justify-content: center; */
    gap: 2em;
    color:black;

}

.card-title{
    padding: 20px;
}

.card-btn{
    border:0;
    background-color: transparent;
    color:black;

    margin: 25px;
    padding: 10px 15px;
    font-size: 1.5em;
    border: 2px solid black;
    border-radius: 10px;
}