.card{
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
    display:flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 450px;
    min-height: 600px;
    align-items: center;
    /* justify-content: center; */
    gap: 2em;
    color:black;

}

.card-title{
    padding: 20px;
}

.card-btn{
    border:0;
    background-color: transparent;
    color:black;

    margin: 25px;
    padding: 10px 15px;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 10px;
}